<mat-form-field
  class="input-field input-event-date mat-focused"
  appearance="outline"
  floatLabel="always"
  hideRequiredMarker
>
  <mat-label class="input-label">Event Date</mat-label>
  <input
    matInput
    [matDatepicker]="eventDatePicker"
    disabled
    value="eventDate"
    [(ngModel)]="eventDate"
    (ngModelChange)="onEventDateChangeFn($event)"
    placeholder="Event Date"
    required
    [min]="minDate"
  />
  <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
  <mat-hint>{{ getDateFormatString() }}</mat-hint>
  <mat-datepicker-toggle
    matSuffix
    [for]="eventDatePicker"
    [disabled]="false"
  ></mat-datepicker-toggle>
  <mat-datepicker #eventDatePicker [disabled]="false"></mat-datepicker>
</mat-form-field>
<diV class="timezone-buttons">
  <button mat-flat-button (click)="swedish()">Swedish Time</button>
  <button mat-flat-button (click)="unitedKingdom()">UK Time</button>
</diV>
