.datepicker-hint, .mat-datepicker-toggle {
  color: var(--color-basic);
}

.input-label {
  color: var(--color-basic);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.input-field {
  height: 67px;
  justify-content: space-between;
  width: 32vw;
  min-width: 300px;
}

.mat-form-field {
  margin: 1em;
}