@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

.eventName {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  color: var(--color-text);
}

.countdownToEvent {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  color: var(--color-text);
}

.inputLabel {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-basic);
}

.inputField {
  font-family: 'Open Sans';
  justify-content: space-between;
  width: 300px;
  height: 67px;
}

.inputForms {
  display: flex;
}

.wrapper {
  white-space: nowrap;
  position: absolute;
}

// ------------------------------ media queries ------------------------------
// ----------- mobile and tablet? -----------
@media screen and (orientation: landscape) and (max-width: 1023px) {
  .eventName {
    line-height: 84px;
    margin-bottom: 5px;
    font-size: max(28.8px, 7.5vw);
  }
  .countdownToEvent {
    line-height: 104px;
    margin-bottom: 30px;
    font-size: max(35.8px, 8.8vw);
  }
  .inputForms {
    flex-direction: row;
    place-content: center;
  }
  .eventNameField {
    margin-bottom: none;
    margin-right: 28px;
  }
  .wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (orientation: portrait) {
  .eventName {
    line-height: 39px;
    margin-bottom: 16px;
    font-size: min(61.6px, 7.5vw);
  }
  .countdownToEvent {
    line-height: 49px;
    margin-bottom: 232px;
    font-size: min(76.5px, 8.8vw);
  }
  .inputForms {
    flex-direction: column;
    place-items: center;
  }
  .eventNameField {
    margin-bottom: 24px;
    margin-right: none;
  }
  .wrapper {
    top: 286px;
    left: 50%;
    transform: translateX(-50%);
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
}

// ----------- desktop -----------
@media screen and (min-width: 1024px) {
  .eventName {
    line-height: 84px;
    margin-bottom: 5px;
    font-size: 0.075 * 1024px;
  }
  .countdownToEvent {
    line-height: 104px;
    margin-bottom: 30px;
    font-size: 0.088 * 1024px;
  }
  .inputForms {
    flex-direction: row;
    place-content: center;
  }
  .eventNameField {
    margin-bottom: none;
    margin-right: 28px;
  }
  .wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}