<div class="wrapper" *ngIf="timeRemaining$ | async as t; else loading">
  <div class="event-info">
    <h1 class="event-name">Time to {{ eventName }}</h1>
    <h2 class="event-countdown">
      <span id="days">{{ t.daysToEvent }}</span> days,
      <span id="hours">{{ t.hoursToEvent }}</span
      >h, <span id="minutes">{{ t.minutesToEvent }}</span
      >m, <span id="seconds">{{ t.secondsToEvent }}</span
      >s
    </h2>
  </div>
  <div class="input-form">
    <app-name-input (newEventName)="addNewEventName($event)"></app-name-input>
    <app-date-input (newEventDate)="addNewEventDate($event)"></app-date-input>
  </div>
</div>

<ng-template #loading> Loading... </ng-template>
