@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

.eventName {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  // font-size: 61.6px;
  font-size: min(61.6px, 8vw);
  line-height: 84px;
  color: var(--color-text);
  margin-bottom: 5px;
}

.countdownToEvent {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  // font-size: 76.5px;
  font-size: min(76.5px, 8vw);
  line-height: 104px;
  color: var(--color-text);
  margin-bottom: 30px;
}

.inputLabel {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-basic);
}

.inputField {
  font-family: 'Open Sans';
  justify-content: space-between;
  width: 300px;
  height: 67px;
}

.inputForms {
  display: flex;
}

.wrapper {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ------------------------------ media queries ------------------------------
@media screen and (orientation: landscape) {
  .inputForms {
    flex-direction: row;
    place-content: center;
  }
  .eventNameField {
    margin-bottom: none;
    margin-right: 28px;
  }
}

@media screen and (orientation: portrait) {
  .inputForms {
    flex-direction: column;
    place-items: center;
  }
  .eventNameField {
    margin-bottom: 24px;
    margin-right: none;
  }
}
