<div class="wrapper" *ngIf="timeRemaining$ | async as t; else loading">
  <p class="eventName">Time to {{ eventName }}</p>
  <div class="countdownToEvent">
    <span id="days">{{ t.daysToEvent }}</span> days,
    <span id="hours">{{ t.hoursToEvent }}</span
    >h, <span id="minutes">{{ t.minutesToEvent }}</span
    >m, <span id="seconds">{{ t.secondsToEvent }}</span
    >s
  </div>
  <div class="inputForms" [formGroup]="eventValidations">
    <mat-form-field
      class="inputField eventNameField mat-focused"
      appearance="outline"
      floatLabel="always"
      hideRequiredMarker
    >
      <mat-label class="inputLabel">Title</mat-label>
      <input
        matInput
        type="text"
        formControlName="eventNameControl"
        value="{{ eventName }}"
        ngModel="{{ eventName }}"
        (ngModelChange)="onEventNameChangeFn($event)"
        placeholder="event name"
      />
      <mat-error
        *ngIf="eventValidations.get('eventNameControl')?.hasError('required')"
        >Please enter a name for the event
      </mat-error>
      <mat-error
        *ngIf="eventValidations.get('eventNameControl')?.hasError('minlength')"
        >Please enter a name that is more than 3 characters
      </mat-error>
      <mat-error
        *ngIf="eventValidations.get('eventNameControl')?.hasError('maxlength')"
        >Please enter a name that is less than 14 characters long
      </mat-error>
      <mat-error
        *ngIf="eventValidations.get('eventNameControl')?.hasError('pattern')"
        >Please enter a name that only has a-z, A-Z, 0-9 or spaces
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="form-group inputField mat-focused"
      appearance="outline"
      floatLabel="always"
      hideRequiredMarker
    >
      <mat-label class="inputLabel">Date</mat-label>
      <input
        matInput
        type="text"
        formControlName="eventDateControl"
        value="{{ eventDate }}"
        ngModel="{{ eventDate }}"
        (ngModelChange)="onEventDateChangeFn($event)"
        placeholder="yyyy-mm-dd"
        autocomplete="off"
      />
      <mat-error
        *ngIf="eventValidations.get('eventDateControl')?.hasError('required')"
        >Please enter a date for the event
      </mat-error>
      <mat-error
        *ngIf="
          eventValidations.get('eventDateControl')?.hasError('dateValidator')
        "
        >Please enter a date in the format yyyy-mm-dd
      </mat-error>
    </mat-form-field>
  </div>
</div>

<ng-template #loading> Loading... </ng-template>
