@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

@include mat.core();

$countdown-angular-app-primary: mat.define-palette(mat.$indigo-palette);
$countdown-angular-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$countdown-angular-app-warn: mat.define-palette(mat.$red-palette);
$countdown-angular-app-theme: mat.define-light-theme((
  color: (
    primary: $countdown-angular-app-primary,
    accent: $countdown-angular-app-accent,
    warn: $countdown-angular-app-warn,
  )
));

@include mat.all-component-themes($countdown-angular-app-theme);

:root {
  --color-basic: #FFFFFF;
  --color-transp: #f0f0f080;
  --color-background: #87B738;
  --color-text: #FFDF5C;
}

html, body {
  // height: 100%;
  // width: 100%;
}

body {
  margin: 60px 40px;
  font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-background);
  text-align: center;
}

.mat-input-element {
    color: var(--color-basic) !important;
    caret-color: var(--color-basic) !important;
    &::placeholder {
      color: var(--color-transp)  !important;
    }
}

.mat-form-field-appearance-outline, .mat-form-field-outline {
  color: var(--color-basic) !important;
}

.mat-error {
  color: var(--color-basic);
  line-height: initial;
  text-align: center ;
}

// ------------------------------ media queries ------------------------------
@media screen and (orientation: landscape) {
  body {
    margin: 0 40px;
  }
}

@media screen and (orientation: portrait) {
  body {
    margin: 0 16px;
  }
}