@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

@include mat.core();

$countdown-angular-app-primary: mat.define-palette(mat.$indigo-palette);
$countdown-angular-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$countdown-angular-app-warn: mat.define-palette(mat.$red-palette);
$countdown-angular-app-theme: mat.define-light-theme((
  color: (
    primary: $countdown-angular-app-primary,
    accent: $countdown-angular-app-accent,
    warn: $countdown-angular-app-warn,
  )
));

@include mat.all-component-themes($countdown-angular-app-theme);

:root {
  --color-background: #1c4668;
  --color-transp: #f0f0f080;
  --color-text: #F7F7F7;
  --color-warning: #ff0000;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  display: flex;
  align-items: center;
  place-content: center;
}

body {
  font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-background);
  text-align: center;
}

.mat-calendar {
  background-color: var(--color-text);
}

.mat-calendar-body-selected {
  background-color: var(--color-background);
  color: var(--color-text);
}

.mat-input-element {
    color: var(--color-text) !important;
    caret-color: var(--color-text) !important;
    &::placeholder {
      color: var(--color-transp)  !important;
    }
    font-size: 22px !important;
    text-shadow: 1px 1px 0px #4e4e4e,
    3px 1px 0px #00000026;
}

.mat-form-field-appearance-outline, .mat-form-field-outline {
  color: var(--color-text) !important;
}

.mat-error {
  color: var(--color-text);
  line-height: initial;
  text-align: center ;
}

// ------------------------------ media queries ------------------------------
@media screen and (max-width: 768px) {
  .mat-input-element {
    font-size: 18px !important;
  }
}